td{
    color:white;
    text-align: center;
    background-color: rgb(241, 16, 166);
    font-size: 25px;
    border-spacing: 0px;
    padding: 11px;
    
}
a{
    color: white;
    font-weight: none;
    
}
.tdhr{
    border: 1px solid snow;
    background-color: snow;
    
}

.contexto:hover{
    background-color:  rgb(241, 16, 166);
    transition: 1.5s;
    transform: rotate(400grad);
    border-left: rgb(241, 16, 166);;
}
.contexto{
    background-color: darkgray;

}
table{
    text-align: center;
    border-collapse: collapse;
}