#primeira{
    width: 150px;
    height: 40px;
    border-right: 8px outset #cccccc;
    border-bottom: 8px outset #cccccc;
    border-left: 2px outset silver;
    border-top: 8px outset rgb(241, 235, 235);
}
#segunda{
    width: 150px;
    height: 40px;
    border-right: 7px outset #cccccc;
    border-bottom: 8px outset #cccccc;
    border-left: 2px outset silver;
    border-top: 8px outset rgb(241, 235, 235);
}
#terceira{
    width: 150px;
    height: 40px;
    border-right: 8px outset #cccccc;
    border-bottom: 8px outset #cccccc;
    border-left: 2px outset silver;
    border-top: 8px outset rgb(241, 235, 235);
}
#quarta{
    width: 150px;
    height: 40px;
    border-right: 8px outset #cccccc;
    border-bottom: 8px outset #cccccc;
    border-left: 2px outset silver;
    border-top: 8px outset rgb(241, 235, 235);
}
#quinta{
    width: 150px;
    height: 40px;
    border-right: 8px outset #cccccc;
    border-bottom: 8px outset #cccccc;
    border-left: 2px outset silver;
    border-top: 8px outset rgb(241, 235, 235);
}
#sexta{
    width: 150px;
    height: 40px;
    border-right: 8px outset #cccccc;
    border-bottom: 8px outset #cccccc;
    border-left: 2px outset silver;
    border-top: 8px outset rgb(241, 235, 235);
}
#sétima{
    width: 150px;
    height: 40px;
    border-right: 8px outset #cccccc;
    border-bottom: 8px outset #cccccc;
    border-left: 2px outset silver;
    border-top: 8px outset rgb(241, 235, 235);
}
#oitava{
    width: 150px;
    height: 40px;
    border-right: 8px outset #cccccc;
    border-bottom: 8px outset #cccccc;
    border-left: 2px outset silver;
    border-top: 8px outset rgb(241, 235, 235);
}
#nona{
    width: 150px;
    height: 40px;
    border-right: 1px outset #cccccc;
    border-bottom: 8px outset #cccccc;
    border-left: 2px outset silver;
    border-top: 8px outset rgb(241, 235, 235);
}

