.pLimpar{
    text-align: center;
    
}
label{
    margin-right: 10px;
}
.inpText{
    margin-left: 70px;
    margin-right: 0px;
    width: 400px;
}
.inpText1{
    margin-left: 86px;
    margin-right: 0px;
    width: px;
}
.Endereço{
    margin-left: 49px;
}
.sexo{
    margin-left: 70px;
}